.sidebar {
  display: inline-block;
  margin-top: 100px;
  font-family: 'shabnam', tahoma, sans-serif;
  font-weight: 400 !important;
  .card-body{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    .text-small{
      font-size: 12px;
      margin: {
        top: 10px;
        bottom: 5px;
        right: 5px;
      };
    }
  }
  .custom-control-label:after,
  .custom-control-label:before{
    right: 16rem;

  }

}