@font-face {
  font-family: 'shabnam';
  src: url('../fonts/Shabnam.eot');
  src: local('Badr');
  src: url('../fonts/Shabnam.ttf') format('ttf');
  src: url('../fonts/Shabnam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'shabnam';
  background-color: rgba(150, 150, 150, 1);
  .card {
    border: none !important;
  }
  .container-fluid {
    .header {
      box-shadow: 0 2px 8px 1px rgba(82, 82, 82, .9);
      font-family: 'shabnam', tahoma, sans-serif;
      font-weight: 400 !important;
      ul.navbar-nav {
        color: rgba(0, 0, 0, .5);
        li {
          a {
            color: rgba(0, 0, 0, .5) !important;
            img {
              list-style: none;
            }
          }
          .fa-phone {
            font-size: 1.5em;
          }
        }
      }

      .dropdown-toggle::after {
        display: none;
      }
      .nav-link {
        &:hover {
          color: rgba(0, 0, 0, .7) !important;
        }
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20,20,20,.4)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          border: 1px solid rgba(150, 150, 150, .4);
          width: 50px;
          height: 40px;
        }

      }
      .profile-navbar {

      }
      .contact-navbar {
        padding-right: 0px !important;
        .nav-link {
          &:hover {
            strong {
              color: rgba(0, 0, 0, .8);
            }
          }
        }
        .navbar-nav {
          .navbar-nav {
            display: inline-block !important;
          }
        }
      }
      .text-orange {
        color: #fd7e14 !important;;
      }
      .text-gray-500 {
        color: #adb5bd !important;
      }
      .dropdown-menu {
        min-width: 300px;
        form {
          input {
            direction: ltr;
            width: 90%;
            margin: 10px auto;
          }
          button {
            background-color: rgba(245, 124, 0, .8);
            border: rgba(245, 124, 0, .8);
            width: 90%;
            margin: 10px auto;
            &:hover {
              background-color: rgba(245, 124, 0, 1);
              border: rgba(245, 124, 0, 1);
            }
          }
          input[type= "checkbox"] {
            width: 10%;
          }
          a.dropdown-item {
            color: rgba(0, 0, 0, .9) !important;
          }
        }
        .register {
          color: #ffffff !important;
          background-color: rgba(0, 150, 136, .8) !important;
          &:hover {
            background-color: rgba(0, 150, 136, 1) !important;
          }
        }
      }
      .dropdown-menu.support {
        min-width: 200px !important;
      }
    }

  }
  .navbar {
    display: inline-block;
    width: 100%;
  }
  .sidebar {
    display: inline-block;
    margin-top: 100px;
    font-family: 'shabnam', tahoma, sans-serif;
    font-weight: 400 !important;
    .card-body {
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem;
      .text-small {
        font-size: 12px;
        margin: {
          top: 10px;
          bottom: 15px;
          right: 5px;
        }
      ;
      }
    }
    .custom-control-label:after,
    .custom-control-label:before {
      right: 16rem;
      color: #00838f;
    }
    .fare {
      a {
        font-family: 'shabnam', tahoma, sans-serif;
        font-weight: 400 !important;
        font-size: 16px;
        background-color: #f57c00;
        border: 5px solid #f57c00;
        color: #fbfbfb;
        &:hover {
          background-color: rgba(255, 150, 50, 1);
          border: 5px solid rgba(255, 150, 50, 1);
        }
      }
    }
    select{
      background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left 0.75rem center;
      padding: 0.375rem 0.5rem 0.375rem 0.75rem;
      background-size: 8px 10px;
    }

  }

  .mainbar {
    float: left;
    font-family: 'shabnam', tahoma, sans-serif;
    font-weight: 400 !important;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(195, 195, 195, .4) !important;
    border-radius: 5px !important;
    display: inline-block;
    margin-top: 100px;
    .main-title {
      display: inline-block;
    }
    .main-list {
      ul {
        float: left;
        display: flex;
        justify-content: space-around;
        .text-small {
          font-size: 12px !important;
          margin-top: 9px;
        }
        li {
          text-align: left;
          font-size: 16px;
          a {
            margin-bottom: 20px;
            text-decoration: none;
            color: #343a40;
            &:hover {
              color: #f57c00;
            }
          }
        }
        .dec-date {
          max-width: 100px;
          max-height: 35px;
          background-color: #f57c00;
          color: #fbfbfb;
          &:hover {
            color: #fbfbfb;
            background-color: rgba(255, 150, 50, 1);
          }
        }
      }
    }

    .main-content {
      .card-body {
        border: 1px solid #d7d7d7;
        border-radius: 10px;
        margin: {
          bottom: 20px;
        }
        padding: 0px;
        width: 100%;
        min-height: 100px;
        display: inline-block;
        .contact {
          margin: {
            top: 64px;
            left: 0px;
            right: -50px;
          }
          width: 154px;
          height: 100%;
          float: right;
          span {
            font-family: 'shabnam', tahoma, sans-serif;
            font-weight: 400 !important;
            transform-origin: center;
            transform: rotate(90deg);
            background-color: #cddc39;
            border: 1px solid #cddc39;
            border-radius: 5px;
            float: left;
            vertical-align: middle;
            text-align: center;
            display: inline-block;
            height: 25px;
            width: 100%;
          }
        }
        .carType {
          float: right;
          text-align: center;
          display: inline-block;
          max-width: 100px;
          margin: {
            top: 10px;
            right: -30px;
          }
          i {
            margin: 0px auto;
            background: rgba(200, 200, 200, .3);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            text-align: center;
            line-height: 5px;
            vertical-align: middle;
            color: #f57c00 !important;
            padding: {
              top: 30px;
              bottom: 30px;
            }
          }
          span {
            display: inline-block;
            margin-top: 10px;
          }
        }
        .info {
          float: right;
          text-align: center;
          direction: rtl;
          margin: {
            top: 10px;
            left: 40px;
            right: 60px;
          }
          span {
            text-align: center;
            font-size: 16px;
            width: 50px;
            margin: 10px auto;
            vertical-align: middle;
          }
          i {
            color: #adb5bd !important;
            font-size: 1.5em;
          }
          .tehran {
            display: inline-block;
            margin: {
              right: 10px;
              bottom: 20px !important;
            }
          }
          .town {
            display: inline-block;
            text-align: center;
            width: 86px;
            span {
              width: 100%;
              margin: {
                top: 10px !important;
                bottom: 10px !important;
                left: 20px;
              }
            }
            margin-top: 10px;
          }
          .point {
            margin-top: -15px;
          }
        }
        .price {
          float: right;
          display: inline-block;
          margin: {
            top: 42px;
            right: 10px;
          }
          text-align: center;
          h3 {
            font-family: 'shabnam', tahoma, sans-serif;
            font-weight: 400 !important;
            direction: rtl;
            color: rgba(28, 208, 23, 1);
            font-size: 20px;
            text-align: center;
          }
        }
        .pay {
          float: left;
          height: 100px;
          margin: {
            top: 36px;
            right: 20px;
            left: 20px;
          }
          height: 30px;
          a {
            font-family: 'shabnam', tahoma, sans-serif;
            font-weight: 400 !important;
            font-size: 16px;
            background-color: #f57c00;
            border: 5px solid #f57c00;
            color: #fbfbfb;
            padding: {
              bottom: 0px;
              top: 0px;
            }
            &:hover {
              background-color: rgba(255, 150, 50, 1);
              border: 5px solid rgba(255, 150, 50, 1);
            }
          }
        }
        a {
          text-decoration: none;
          color: #212529;
        }
        .more-detail {
          z-index: 100;
          font-weight: 14px;
          margin: 0px auto;
          direction: rtl;
          display: inline-block;
          background: rgba(220, 220, 220, 1);
          border: 5px solid rgba(220, 220, 220, .8);
          a {
            font-family: 'shabnam', tahoma, sans-serif;
            font-weight: 400 !important;
            color: #343a40 !important;
            font-size: 14px;
            line-height: .7;
            font-weight: 400;
          }
          &:hover {
            background: rgba(200, 200, 200, 1);
            border: 5px solid rgba(200, 200, 200, 1);
            box-shadow: inset 0 1px 0 rgba(200, 200, 200, 1);
          }
          i {
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
          }
          i.active {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        .content {
          margin-right: -50px !important;
          .list-inline {
            margin-left: 10px;
          }
        }
        .nav-link.active {
          background-color: rgba(220, 220, 220, .8) !important;
        }

        .tab-content {
          ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
        .tab-pane {
          ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .pagination{
      .page-link{
        color: #00838f;
      }
    }
    .page-item-active{
      span{
        background-color: #00838f;
        color: #fbfbfb !important;
        border-color: #00838f;
      }

    }
  }

  .footer {
    div{
      display: inline-block;
    }
    margin-top: 70px;
    margin-right: 25px;
    margin-left: 20px;
    direction: rtl;
    background-color: #d7d7d7;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    .footer-log {
      direction: rtl;
      float: right;
      margin: {
        top: 40px;
        right: 10px;
        left: 10px;
      }
      .footer-content {
        direction: rtl;
        p {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          text-align: justify;
          margin-top: 10px;
        }
      }
    }
    .footer-more {
      display: inline-block;
      direction: rtl;
      margin: {
        top: 10px;
        right: -20px;
        left: -20px;
      }
      ul {
        direction: rtl;
        li {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          list-style: none;
          margin: {
            top: 20px;
          }
          text-align: center;
          text-decoration: none;
          color: rgba(0, 0, 0, 1);
        }
      }
    }
    .footer-app {
      display: inline-block;
      margin: {
        top: 20px;
      }
      h5 {
        text-decoration: none;
        color: #000;
        list-style: none;
        font-family: 'shabnam', tahoma, sans-serif;
        font-weight: 400 !important;
        font-size: 16px;
        direction: rtl;
        text-align: center;
        margin: {
          top: 30px;
        }
      }
      .image {
        img {
          width: 215px;
          height: 150px;
          margin: {
            right: 20px;
            top: 10px;
          }
        ;
        }
      }
    }
    .footer-namad {
      display: inline-block;
      //float: left;
      margin: {
        left: 20px;
      }
      img {
        height: 150px;
        width: 200px;
        margin: {
          top: 40px;
          left: 20px;
        }
      }
    }
    .safe {
      height: 25px;
      width: 100%;
      .safe-content {
        width: 70%;
        float: right;
        display: inline-block;
        direction: rtl;
        p {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          float: right;
          text-align: right;
          margin: {
            right: 20px;
          }
          font-size: 10px;
        }
      }
      .social {
        float: left;
        display: inline-block;
        direction: rtl;
        margin: {
          left: 20px;
        }
        .icon {
          display: inline-block;

        }
        a {
          text-decoration: none;
        }
        i {
          height: 15px;
          width: 20px;
          color: rgba(150, 150, 150, .8);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: {
            bottom: 2px;
            right: 5px;
          }
          &:hover {
            color: #f57c00;
          }
        }
      }
    }
  }
}
