@font-face {
  font-family: 'shabnam';
  src: url("../fonts/Shabnam.eot");
  src: local("Badr");
  src: url("../fonts/Shabnam.ttf") format("ttf");
  src: url("../fonts/Shabnam.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'shabnam';
  background-color: #969696; }
  body .card {
    border: none !important; }
  body .container-fluid .header {
    box-shadow: 0 2px 8px 1px rgba(82, 82, 82, 0.9);
    font-family: 'shabnam', tahoma, sans-serif;
    font-weight: 400 !important; }
    body .container-fluid .header ul.navbar-nav {
      color: rgba(0, 0, 0, 0.5); }
      body .container-fluid .header ul.navbar-nav li a {
        color: rgba(0, 0, 0, 0.5) !important; }
        body .container-fluid .header ul.navbar-nav li a img {
          list-style: none; }
      body .container-fluid .header ul.navbar-nav li .fa-phone {
        font-size: 1.5em; }
    body .container-fluid .header .dropdown-toggle::after {
      display: none; }
    body .container-fluid .header .nav-link:hover {
      color: rgba(0, 0, 0, 0.7) !important; }
    body .container-fluid .header .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20,20,20,.4)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      border: 1px solid rgba(150, 150, 150, 0.4);
      width: 50px;
      height: 40px; }
    body .container-fluid .header .contact-navbar {
      padding-right: 0px !important; }
      body .container-fluid .header .contact-navbar .nav-link:hover strong {
        color: rgba(0, 0, 0, 0.8); }
      body .container-fluid .header .contact-navbar .navbar-nav .navbar-nav {
        display: inline-block !important; }
    body .container-fluid .header .text-orange {
      color: #fd7e14 !important; }
    body .container-fluid .header .text-gray-500 {
      color: #adb5bd !important; }
    body .container-fluid .header .dropdown-menu {
      min-width: 300px; }
      body .container-fluid .header .dropdown-menu form input {
        direction: ltr;
        width: 90%;
        margin: 10px auto; }
      body .container-fluid .header .dropdown-menu form button {
        background-color: rgba(245, 124, 0, 0.8);
        border: rgba(245, 124, 0, 0.8);
        width: 90%;
        margin: 10px auto; }
        body .container-fluid .header .dropdown-menu form button:hover {
          background-color: #f57c00;
          border: #f57c00; }
      body .container-fluid .header .dropdown-menu form input[type="checkbox"] {
        width: 10%; }
      body .container-fluid .header .dropdown-menu form a.dropdown-item {
        color: rgba(0, 0, 0, 0.9) !important; }
      body .container-fluid .header .dropdown-menu .register {
        color: #ffffff !important;
        background-color: rgba(0, 150, 136, 0.8) !important; }
        body .container-fluid .header .dropdown-menu .register:hover {
          background-color: #009688 !important; }
    body .container-fluid .header .dropdown-menu.support {
      min-width: 200px !important; }
  body .navbar {
    display: inline-block;
    width: 100%; }
  body .sidebar {
    display: inline-block;
    margin-top: 100px;
    font-family: 'shabnam', tahoma, sans-serif;
    font-weight: 400 !important; }
    body .sidebar .card-body {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: .25rem; }
      body .sidebar .card-body .text-small {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right: 5px; }
    body .sidebar .custom-control-label:after,
    body .sidebar .custom-control-label:before {
      right: 16rem;
      color: #00838f; }
    body .sidebar .fare a {
      font-family: 'shabnam', tahoma, sans-serif;
      font-weight: 400 !important;
      font-size: 16px;
      background-color: #f57c00;
      border: 5px solid #f57c00;
      color: #fbfbfb; }
      body .sidebar .fare a:hover {
        background-color: #ff9632;
        border: 5px solid #ff9632; }
    body .sidebar select {
      background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left 0.75rem center;
      padding: 0.375rem 0.5rem 0.375rem 0.75rem;
      background-size: 8px 10px; }
  body .mainbar {
    float: left;
    font-family: 'shabnam', tahoma, sans-serif;
    font-weight: 400 !important;
    background-color: white;
    border: 1px solid rgba(195, 195, 195, 0.4) !important;
    border-radius: 5px !important;
    display: inline-block;
    margin-top: 100px; }
    body .mainbar .main-title {
      display: inline-block; }
    body .mainbar .main-list ul {
      float: left;
      display: flex;
      justify-content: space-around; }
      body .mainbar .main-list ul .text-small {
        font-size: 12px !important;
        margin-top: 9px; }
      body .mainbar .main-list ul li {
        text-align: left;
        font-size: 16px; }
        body .mainbar .main-list ul li a {
          margin-bottom: 20px;
          text-decoration: none;
          color: #343a40; }
          body .mainbar .main-list ul li a:hover {
            color: #f57c00; }
      body .mainbar .main-list ul .dec-date {
        max-width: 100px;
        max-height: 35px;
        background-color: #f57c00;
        color: #fbfbfb; }
        body .mainbar .main-list ul .dec-date:hover {
          color: #fbfbfb;
          background-color: #ff9632; }
    body .mainbar .main-content .card-body {
      border: 1px solid #d7d7d7;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 0px;
      width: 100%;
      min-height: 100px;
      display: inline-block; }
      body .mainbar .main-content .card-body .contact {
        margin-top: 64px;
        margin-left: 0px;
        margin-right: -50px;
        width: 154px;
        height: 100%;
        float: right; }
        body .mainbar .main-content .card-body .contact span {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          transform-origin: center;
          transform: rotate(90deg);
          background-color: #cddc39;
          border: 1px solid #cddc39;
          border-radius: 5px;
          float: left;
          vertical-align: middle;
          text-align: center;
          display: inline-block;
          height: 25px;
          width: 100%; }
      body .mainbar .main-content .card-body .carType {
        float: right;
        text-align: center;
        display: inline-block;
        max-width: 100px;
        margin-top: 10px;
        margin-right: -30px; }
        body .mainbar .main-content .card-body .carType i {
          margin: 0px auto;
          background: rgba(200, 200, 200, 0.3);
          width: 64px;
          height: 64px;
          border-radius: 50%;
          text-align: center;
          line-height: 5px;
          vertical-align: middle;
          color: #f57c00 !important;
          padding-top: 30px;
          padding-bottom: 30px; }
        body .mainbar .main-content .card-body .carType span {
          display: inline-block;
          margin-top: 10px; }
      body .mainbar .main-content .card-body .info {
        float: right;
        text-align: center;
        direction: rtl;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 60px; }
        body .mainbar .main-content .card-body .info span {
          text-align: center;
          font-size: 16px;
          width: 50px;
          margin: 10px auto;
          vertical-align: middle; }
        body .mainbar .main-content .card-body .info i {
          color: #adb5bd !important;
          font-size: 1.5em; }
        body .mainbar .main-content .card-body .info .tehran {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 20px !important; }
        body .mainbar .main-content .card-body .info .town {
          display: inline-block;
          text-align: center;
          width: 86px;
          margin-top: 10px; }
          body .mainbar .main-content .card-body .info .town span {
            width: 100%;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            margin-left: 20px; }
        body .mainbar .main-content .card-body .info .point {
          margin-top: -15px; }
      body .mainbar .main-content .card-body .price {
        float: right;
        display: inline-block;
        margin-top: 42px;
        margin-right: 10px;
        text-align: center; }
        body .mainbar .main-content .card-body .price h3 {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          direction: rtl;
          color: #1cd017;
          font-size: 20px;
          text-align: center; }
      body .mainbar .main-content .card-body .pay {
        float: left;
        height: 100px;
        margin-top: 36px;
        margin-right: 20px;
        margin-left: 20px;
        height: 30px; }
        body .mainbar .main-content .card-body .pay a {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          font-size: 16px;
          background-color: #f57c00;
          border: 5px solid #f57c00;
          color: #fbfbfb;
          padding-bottom: 0px;
          padding-top: 0px; }
          body .mainbar .main-content .card-body .pay a:hover {
            background-color: #ff9632;
            border: 5px solid #ff9632; }
      body .mainbar .main-content .card-body a {
        text-decoration: none;
        color: #212529; }
      body .mainbar .main-content .card-body .more-detail {
        z-index: 100;
        font-weight: 14px;
        margin: 0px auto;
        direction: rtl;
        display: inline-block;
        background: gainsboro;
        border: 5px solid rgba(220, 220, 220, 0.8); }
        body .mainbar .main-content .card-body .more-detail a {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          color: #343a40 !important;
          font-size: 14px;
          line-height: .7;
          font-weight: 400; }
        body .mainbar .main-content .card-body .more-detail:hover {
          background: #c8c8c8;
          border: 5px solid #c8c8c8;
          box-shadow: inset 0 1px 0 #c8c8c8; }
        body .mainbar .main-content .card-body .more-detail i {
          -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s; }
        body .mainbar .main-content .card-body .more-detail i.active {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      body .mainbar .main-content .card-body .content {
        margin-right: -50px !important; }
        body .mainbar .main-content .card-body .content .list-inline {
          margin-left: 10px; }
      body .mainbar .main-content .card-body .nav-link.active {
        background-color: rgba(220, 220, 220, 0.8) !important; }
      body .mainbar .main-content .card-body .tab-content ul {
        width: 100%;
        display: flex;
        justify-content: space-between; }
      body .mainbar .main-content .card-body .tab-pane ul {
        width: 100%;
        display: flex;
        justify-content: space-between; }
    body .mainbar .pagination .page-link {
      color: #00838f; }
    body .mainbar .page-item-active span {
      background-color: #00838f;
      color: #fbfbfb !important;
      border-color: #00838f; }
  body .footer {
    margin-top: 70px;
    margin-right: 25px;
    margin-left: 20px;
    direction: rtl;
    background-color: #d7d7d7;
    border: 1px solid #d7d7d7;
    border-radius: 5px; }
    body .footer div {
      display: inline-block; }
    body .footer .footer-log {
      display: inline-block;
      direction: rtl;
      float: right;
      margin-top: 40px;
      margin-right: 10px;
      margin-left: 10px; }
      body .footer .footer-log .footer-content {
        direction: rtl; }
        body .footer .footer-log .footer-content p {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          text-align: justify;
          margin-top: 10px; }
    body .footer .footer-more {
      display: inline-block;
      direction: rtl;
      margin-top: 10px;
      margin-right: -20px;
      margin-left: -20px; }
      body .footer .footer-more ul {
        direction: rtl; }
        body .footer .footer-more ul li {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          list-style: none;
          margin-top: 20px;
          text-align: center;
          text-decoration: none;
          color: black; }
    body .footer .footer-app {
      display: inline-block;
      margin-top: 20px; }
      body .footer .footer-app h5 {
        text-decoration: none;
        color: #000;
        list-style: none;
        font-family: 'shabnam', tahoma, sans-serif;
        font-weight: 400 !important;
        font-size: 16px;
        direction: rtl;
        text-align: center;
        margin-top: 30px; }
      body .footer .footer-app .image img {
        width: 215px;
        height: 150px;
        margin-right: 20px;
        margin-top: 10px; }
    body .footer .footer-namad {
      display: inline-block;
      margin-left: 20px; }
      body .footer .footer-namad img {
        height: 150px;
        width: 200px;
        margin-top: 40px;
        margin-left: 20px; }
    body .footer .safe {
      height: 25px;
      width: 100%; }
      body .footer .safe .safe-content {
        width: 70%;
        float: right;
        display: inline-block;
        direction: rtl; }
        body .footer .safe .safe-content p {
          font-family: 'shabnam', tahoma, sans-serif;
          font-weight: 400 !important;
          float: right;
          text-align: right;
          margin-right: 20px;
          font-size: 10px; }
      body .footer .safe .social {
        float: left;
        display: inline-block;
        direction: rtl;
        margin-left: 20px; }
        body .footer .safe .social .icon {
          display: inline-block; }
        body .footer .safe .social a {
          text-decoration: none; }
        body .footer .safe .social i {
          height: 15px;
          width: 20px;
          color: rgba(150, 150, 150, 0.8);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-bottom: 2px;
          margin-right: 5px; }
          body .footer .safe .social i:hover {
            color: #f57c00; }

/*# sourceMappingURL=style.css.map */
