@font-face {
  font-family: Shabnam;
  src: url('../fonts/Shabnam.eot');
  src: local('Badr');
  src: url('../fonts/Shabnam.ttf') format('ttf');
  src: url('../fonts/Shabnam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}