
$main-color-primary: #f48020;
$color-light-green: #039285;
$color-outline: #fd7e14;
$color-orange:#fd7e14;
$color-gray-700:#495057;
$color-gray-500:#adb5bd;
$color-gray-50:#e7ecef;
$text-small : 10px;
$text-medium : 15px;
$text-large : 23px;
$color-gray-600: darken($color-gray-500,15%);
$color-green:   #85c11b;